.blankLine,
.blankLine1,
.blankLine2,
.blankLine3,
.blankLine4,
.eLearning,
.payrollServices,
.recruitment,
.statutoryCompliance,
.trainingAndDevelopment,
.webDesign {
  margin: 0;
}
.webDesignRecruitmentContainer {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
  z-index: 5;
}
.frameServicesScroll,
.servicesHeadings {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}
.servicesHeadings {
  width: 415px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-64xl) 0 0;
  min-width: 415px;
  max-width: 100%;
}
.frameServicesScroll {
  margin-left: -35px;
  width: 1096px;
  height: 511px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color-silver);
  border: 4px dashed var(--color-lightsteelblue-200);
  overflow-x: auto;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 var(--padding-3xs) var(--padding-3xs);
  max-width: 105%;
  z-index: 6;
}
.servicesList,
.servicesScroll {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.servicesScroll {
  width: 1053px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  min-width: 1053px;
  font-size: var(--font-size-lg);
  color: var(--color-midnightblue-200);
}
.servicesList {
  flex-direction: row;
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-navy-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1450px) {
  .servicesHeadings,
  .servicesScroll {
    flex: 1;
  }
  .servicesList {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .frameServicesScroll {
    height: auto;
  }
  .servicesScroll {
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .servicesHeadings {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .webDesignRecruitmentContainer {
    font-size: var(--font-size-lgi);
  }
  .servicesHeadings {
    padding-top: var(--padding-35xl);
    box-sizing: border-box;
  }
}
